.main {
    border:solid black;
    display: grid;
    grid-template-rows: 150px 150px;
    grid-template-areas: "box-1 box-1 box-1 box-2 box-3 "
                         "box-4 box-5 box-5 box-5 box-3 ";
}
.a,.b,.c,.d,.e,.f {
    height: auto;
    width: auto;
    margin: 5px;
    border-radius: 10px;
    background-color: red;
}                    
.box-1 {
    grid-area: box-1;
    background-color: rgb(246, 246, 10);
}
.box-2 {
    grid-area: box-2;
    background-color: rgb(220, 5, 5);
}
.box-3 {
    grid-area: box-3;
    background-color: rgb(4, 225, 45);
}
.box-4 {
    grid-area: box-4;
    background-color: rgb(39, 9, 232);
}
.box-5{
    grid-area: box-5;
    background-color: rgb(217, 9, 179);
}